.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-top: 2rem; */

}


.hero__img{
    border-radius: 50%;
    width: 6.75rem;
    height: 6.75rem;
    /* display: inline-block; */
}


.hero__subtitle{
    color: var(--clr-slate800);
    font-size: var(--size-base);
    /* line-height: 1.1; */
}

.hero__title{
    color: var(--clr-slate400);
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 1;
    text-transform: uppercase;
}

.hero__description{
    /* margin-top: 1%; */
    max-width: 60ch;
    color: var(--clr-slate600);
    font-size: var(--size-sm);
    line-height: 1.1;
}

.hero__btn{
    /* color: var(--clr-slate800); */
    font-size: var(--size-sm);
    text-transform: capitalize;
}

/* Extra Small Screens*/
@media (min-width: 475px){
    .hero{
        gap: 1.5rem;    
    }
    
    
    .hero__img{
        width: 7.75rem;
        height: 7.75rem;
        /* display: inline-block; */
    }
    
    
    .hero__subtitle{
        font-size: var(--size-large);
        /* line-height: 1.1; */
    }
    
    .hero__title{

        font-size: var(--size-5xl);
    }
    
    .hero__description{
        /* margin-top: 1%; */
        font-size: var(--size-base);
    }
    
    .hero__btn{
        /* color: var(--clr-slate800); */
        font-size: var(--size-base);
    }
}

/* Small Screens*/
/* @media (min-width: 640px){} */

/* Medium Screens*/
/* @media (min-width: 768px){} */

/* Large Screens*/
@media (min-width: 1024px){    
    .hero__img{
        width: 9.75rem;
        height: 9.75rem;
        /* display: inline-block; */
    }
    
    
    .hero__subtitle{
        font-size: var(--size-2xl);
        /* line-height: 1.1; */
    }
    
    .hero__title{

        font-size: var(--size-7xl);
    }
    
    .hero__description{
        /* margin-top: 1%; */
        font-size: var(--size-large);
    }
    
    .hero__btn{
        /* color: var(--clr-slate800); */
        font-size: var(--size-large);
    }
}

/* Extra Large Screens*/
@media (min-width: 1280px){
    .hero{
        gap: 2rem;    
    }
    
    
    .hero__img{
        width: 13.75rem;
        height: 13.75rem;
        /* display: inline-block; */
    }
    
    
    .hero__subtitle{
        font-size: var(--size-4xl);
        /* line-height: 1.1; */
    }
    
    .hero__title{

        font-size: var(--size-9xl);
    }
    
    .hero__description{
        /* margin-top: 1%; */
        font-size: var(--size-xl);
    }
    
    .hero__btn{
        /* color: var(--clr-slate800); */
        font-size: var(--size-xl);
    }
}


/* double Extra Large Screens*/
/* @media (min-width: 1536px){} */

