/* Extra Small Screens*/
/* @media (min-width: 475px){} */

/* Small Screens*/
/* @media (min-width: 640px){} */

/* Medium Screens*/
/* @media (min-width: 768px){} */

/* Large Screens*/
/* @media (min-width: 1024px){} */

/* Extra Large Screens*/
/* @media (min-width: 1280px){} */

/* double Extra Large Screens*/
/* @media (min-width: 1536px){} */


.btn{
    display: inline-block;
    font-weight: 600;
    /* font-size: small; */
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose); 
    color: #f1f5f9;
    padding-left: 7.5%;
    padding-top: 0.3%;
    padding-right: 7.5%;
    padding-bottom: 0.3%;
    border-radius: 6px;
    /* box-shadow: 0 10px 20px rgba(225, 29, 72, 0.15), 0 6px 6px 
    rgba(225, 29, 72, 0.15), 0 0 100px -10px var(--clr-rose); */
    transition: transform 0.3s, box-shadow 0.3s;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px
    rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.cbtn{
    display: inline-block;
    font-weight: 600;
    /* font-size: small; */
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose); 
    color: #f1f5f9;
    margin-top: 5px;
    padding-left: 7.5%;
    padding-top: 0.3%;
    padding-right: 7.5%;
    padding-bottom: 0.3%;
    border-radius: 20px;
    box-shadow: 0 5.5px 20px var(--clr-rose) ;
    transition: transform 0.3s, box-shadow 0.3s;
}
.cbtn:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px
    rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.hbtn{
    display: inline-block;
    font-weight: 600;
    /* font-size: small; */
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose); 
    color: #f1f5f9;
    margin-top: 1.4%;
    /* margin-bottom: 1%; */
    padding-left: 0.5%;
    padding-top: 0.3%;
    padding-right: 0.5%;
    padding-bottom: 0.3%;
    border-radius: 6px;
    /* box-shadow: 0 10px 20px rgba(225, 29, 72, 0.15), 0 6px 6px 
    rgba(225, 29, 72, 0.15), 0 0 100px -10px var(--clr-rose); */
    transition: transform 0.3s, box-shadow 0.3s;
}

.hbtn:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px
    rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.btn__navbar{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    transition: transform 0.3s; 
}

.btn__navbar:hover{
    transform: translate3d(-2px, -2px, 2px);
    font-weight: 800;
    font-size: medium; 
    letter-spacing: 0.001em;
    color: var(--clr-light);
    border: none;
}

.btn__navbarsun{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    color: var(--clr-slate600);
    border-radius: 100%; 
    transition: transform 0.3s;
}

.btn__navbarsun:hover{
    transform: translate3d(-2px, -2px, 2px);
    font-weight: 800;
    font-size: medium; 
    letter-spacing: 0.001em;
    color: var(--clr-light);
}


.container{
    width: 100%;    
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid yellow; */
}

.section{
    margin-top: 5rem;
}

/* Extra Small Screens*/
@media (min-width: 475px){
    .container{
        max-width: 475px; 
    }
}

/* Small Screens*/
@media (min-width: 640px){
    .container{
        max-width: 640px;
    }
}

/* Medium Screens*/
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
}

/* Large Screens*/
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
    .section{
        margin-top: 10rem;
    }
}

/* Extra Large Screens*/
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/* double Extra Large Screens*/
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}


